<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/static/style.css" />

    <title>TearSheets</title>

</head>
<body>
    <div id="main">
        <div id="sidebar">
            <a href="/">
                <h3 class="logo">TearSheets</h3>
            </a>
            <ul class="nav_category_list">
                {% for cat in nav_sheets_list %}
                    <li class="nav_category">
                        <p>{{cat[0]}}</p>
                        <ul class="nav_category_sheet_list">
                            {% for sheet in cat[1] %}
                                <li>
                                    <a href="/sheet/s/{{ cat[0] }}/{{sheet}}">{{ sheet }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                    </li>
                {% endfor %}
            </ul>
        </div>
  
        <div id="home_wrapper">
            <div id="home_block">
                <h1>Temporary Sheets: </h1>
                <ul>
                    {% for sheet in temp_sheets %}
                        <li>
                            <a href="/sheet/t/{{ sheet[0] }}">{{ sheet[1] }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</body>
</html>
